{
  "Authentication": {
    "Method": 0,
    "Username": "{{ gokapi_admin_user }}"
  },
  "Port": ":{{ gokapi_port }}",
  "ServerUrl": "https://{{ gokapi_domain }}/",
  "RedirectUrl": "{{ gokapi_redirect_url }}",
  "DataDir": "{{ gokapi_data_dir }}/data",
  "DatabaseUrl": "sqlite://{{ gokapi_data_dir }}/gokapi.sqlite",
  "ConfigVersion": 22,
  "PublicName": "{{ gokapi_public_name }}",
  "MaxFileSizeMB": {{ gokapi_max_file_size_mb }},
  "MaxMemory": {{ gokapi_max_memory_mb }},
  "Encryption": {
    "Level": 0
  }
}
