BOOKLORE_PORT={{ booklore_port }}
DATABASE_HOST={{ booklore_db_host }}
DATABASE_NAME={{ booklore_db_name }}
DATABASE_USERNAME={{ booklore_db_user }}
DATABASE_PASSWORD={{ booklore_db_password }}
DISK_TYPE=LOCAL
