[tasks.build]
alias = "b"
description = "Build"
run = "cargo build --release"
silent = true

[tasks.auberge]
alias = "a"
depends = "build"
description = "Run auberge"
raw = true
run = "{{ vars.auberge_cli }}"
silent = true

[tasks.fmt]
alias = "f"
description = "Format"
run = "dprint fmt -c .dprint.jsonc"
silent = true

[tasks.lint-ansible]
run = "ansible-lint"
dir = "ansible"
quiet = true

[tasks.lint-rust]
run = "cargo clippy"
quiet = true

[tasks.lint]
alias = "l"
depends = "lint-*"
quiet = true

[tasks.test]
alias = "t"
run = "cargo nextest run"
quiet = true

[tools]
caddy = "latest"
"cargo:convco" = "latest"
dasel = "latest"
dprint = "latest"
hk = "latest"
pipx = "latest"
pkl = "latest"
ansible = "latest"
"pipx:ansible-dev-tools" = "latest"
"pipx:ansible-lint" = "latest"
rust = "latest"
"cargo:cargo-nextest" = "latest"
"npm:docsify-cli" = "latest"

[env]
BAIKAL_SUBDOMAIN = "calendrier"
BLOCKY_SUBDOMAIN = "dns"
CALIBRE_SUBDOMAIN = "lire"
FRESHRSS_SUBDOMAIN = "rss"
NAVIDROME_SUBDOMAIN = "musique"
WEBDAV_SUBDOMAIN = "webdav"
YOURLS_SUBDOMAIN = "url"

DNS_DEFAULT_TTL = "300"

ADMIN_USER_NAME = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOYjE3elp2OFZPaG1xdFNnRTlMcFVmWnFLcFZqc1pSemkraHhDbmJSUUZBCnhWMU9nek1hRzZoMW5SY01XbllLNSs5UzlaUDBCTGgyK2M0V3RQZ0hDVHMKLT4gfiE9Pj1oLWdyZWFzZSAmIDw6M1gmCko4eWxWREcyCi0tLSB1SEJXdzdTckY3ekRqaGtnVk1zL2FuZ0duZHFQUTlqY3M0Z0hXcEhhYjdjCg5gFwCwEEQ5GYgD957eRLF5b+/9ey94c7PgGoQC+MhxxquodNRjz54" }
ADMIN_USER_EMAIL = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpcEJPVWh2eGFuMzVESXlHSEFGV0dENjVxUjNIaUhLQ09yYzBKd3RpTGxjCnhiaFhTdjR0QnhEVU4zTFdNbDV0UzhCN25rWFRFdXJHZ0dJam1OVlpxOGcKLT4gcENtQy1ncmVhc2UgMlcmNHpWai8gdCBkRl4jIHVkMApUMjhkcUZmK0Qvazc5bXhHaDJUMUZ1eDNlMUR0TGpPU3dTajN0R1ZkcFEKLS0tIG1uTndGdjE2RFBYYlBqZVMrMVp5YzBYcGUrYW5YcW9SSWVPZkVrOWhmdE0KymepScuFDMOl8+al8WhqalQLlfPV2ofyfTfgYxOEQ+Y2gSMUtirLHMUYUddN/cu0" }
AUBERGE_HOST = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzVWp3Nk5WT0h0WUJYWEJCM2ZTMEI0VVA4b2NheEREbWoxR0lnQXA5MERRCnYxMTQ3V1hDKy9oWkJ5bXVsZ28rRnpwbzR4cFY0OHR6OUNGNHVjdWc5MUUKLT4gcEVTMS1ncmVhc2UgRU5yIDJDaVxsUFIzICI9dFxrCitoR2dSQmRTbFpTbFU2REMwODVjT250dkF1akcyMTBLYVVhUVVOU3g0ZUlLem50WFhKOHgxOFZyWnA1ekFHL2MKTDV0S0Z6SzA2dTFPY20vUHBPTUhhWk44V2FRZURJR0lvdXdsYnAyQzgwQWVaSExOCi0tLSB5UzdRNHlsWnVNbmpCMjN6enNkU3l1aWsxd1dlbHBiL2ExcEJnTitFa0FzCnRi7curdGj6DfQ2gqVvJICuqT8I1vifxzlPYH2a4Cc44M4Scsd50B4ZPX5KhVQ" }
AUBERGE_OLD_HOST = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4SHExNWN5dUtoNk4wMkRQSStnS2FOQnJhWml3d3dkNnRZUlB1TWtMZ3dRCjc4TmVDbHZBMk9XR0JyYUl6aU5LL2owaHdNd3JlaG93MldKN2tBdEQ4VU0KLT4gUiN+XF06Ky1ncmVhc2UgYQpLWDNIV2dpc2RyOHkvQ3hhdGRlT2hjeWhoZFhTSnBNOHJCOE52M1dkCi0tLSBDQ3Fhb1VFNGRUbFk5UnpIVkN1THdTbWN2WUdEdFQ2VHYyS1JONXBZSTZvCoQwtHxjqsH1jQ6fs1IL3hjwI4aAf/hQ+HZ0Pns1sV7KVKbzC/ttNT1yDzr9SA" }
BAIKAL_ADMIN_PASSWORD = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBmdjBQd29lM2lZNDVRdTlGaHRneXNqSGsrdWFna2dYeUVCVTZ1aXplc2w4CldST1d3dTQwai9EOXhHMmZOTVV0bVBNNnhYWDR3Y0ZGblFqdlk1b0owZm8KLT4gLHhnVi1ncmVhc2UgR09rWGElQApZYlVYYVMyUE1VSEtyYkRWaDN2ZmhpNGlMTWx1Ci0tLSBGU0tYZUhsUEtoWS9BSGlJN2ZyYStIdGMyUXZ0ZC84R1g1eFRlamliYmk0CurCOZ8dlXJ7TC1EGhmhjdUmivHlTZlTFemJu8o1ak/DuPFxptzpREer9HbEcnG0nXwLnAFlofn4SB8uQylsTGvh" }
NAMECHEAP_API_KEY = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOQUtkQmVlTWxEWnREQmNGR1p1VkZNeEpra0Z5eU1mK08wbVpVcUhPaTBNClJ5R0dTeUtwT0Mrd200SlA3UEFIVzJQOE5zeTVjaEZXMG5TVUVBRXlhUTAKLT4gYCdxWCstZ3JlYXNlCi9VaW9DRWhHTzB3dWNzbFh5SkNzQnI1YmdYNm1FQzBOY2RXTGNqR0I2UkxhZ28wRXJOVTBCdUI0V0NyZ3JENTkKc3loL0tKZ0JxZkVxb2ZaUHRMM2Q5YmU2M1RNdFg3T0FKVzdvV3krV0xFWQotLS0gRERXU0EycThuditoL0xMdzJUaisza3ZWWVNDbHMxMkFyV1ZzeXF6aE9QUQrMAZl/TH6R7WdIV0rBC6pZfcq8n7gql/5Q3dW6neUBK3+e5OYAYIf5bSfAA3/F/BduqBGgi5W7JobO4rnxTQpX" }
NAMECHEAP_API_USER = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzbVRWeDdUNWhPaklNMHo2N0tLZjJ3UVlDU1dBelM0UW1zdWVYSHYxaTJNCjcrRTJNb09pRmdlRExNQ2ZMazdGR2Nxd280M1RxRXg3eC9QNEY5WGNRdjQKLT4gP0AtZ3JlYXNlCmR4K04KLS0tIDk2QjNmcTR3cDlMNlU1T01zRk04ejlmdUhHSWdzdUt4M0VKcTZ5ZERtUFkKnkHOh6k8EJcz4cTfdX2jvmKSCffqmjuMHIrgDJIuTwJyebwsPHB8Ew" }
PRIMARY_DOMAIN = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIbVpEWVhjUE5EUWJVL09PWEhJV2dnOGF6bVY1RXlMby95aUduV1hnR0JrCnMxU3Z5UDdNQTU3U0hQZWl6K0NlcUZ2NitoUUNCakJRVHFibGZLeUtUZlEKLT4gRi1ncmVhc2UgO2NWTlVzVEkgMkJNTTlCIFNQYTQgLVs2Q05WJzIKaHVCUjNidFB4ZExYbDdiT05YcmpxaTZ6V2MrTW1FdGFnZkc2ekZaMWtidU5hVjZmd3Q4NVg0b1ZldTVxaXRFNgo3K3lWQXBMdERNNVBSNUdEQXJhNWdHTzlUS0RkNlM5cG13THFTY3Zwb21wWE1KYwotLS0gZEVPME85cEM0Nkdnd3N4Y1J6YXFVY0d6Q3hxODNBdjB1U2lLMWFuQllWSQo9j9hB2MfgkFeSe8RS74RuAZYPtSOjAiR5CkaMIZy4ZQbWiHVVcbcAFwW4SQ" }
TAILSCALE_AUTHKEY = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRQi9Bakc1dFltY0FRVE14SExRQU1Qai9EdVFnYmpVOUdpSDQ5aUk1bkNJCjBtaWRreUltLy9sM2dQcDdGWHgyS3UyU1M4S3ZaZkszSERjdkNZMnhsdUUKLT4gRFZsLGglPD4tZ3JlYXNlICE6VXNFPDJzIEwKeHdaWmpZbmtlYngzcE9nVEFyeFRuL3dVT2RYWmF0WXgyMGJQdk9CTFNsTWhQcjRoRzd1UG5RbCsrOG1ZOVdmUgp0cXdxRStxSWdPcjRPeitsNlVCNXNFdWlHZTIwLzZ4cE9VK2cKLS0tIDhrNlNQVnFhMytUdXBQb3Bqam9VRW5FOGtycjI4M1E0SFRJeS9ROFB3dm8KzJTTml+WkvI3IEK6JdZJFnL0C0RIxnVIoj4p3OwKqDfhwSIvGmikUi6r0sWSaRQfrjC5JlNhT2ANhDeVR9jMZwkUAYiGj+ZdNqWim6uA5fq3atvc6i3wALi2Vhd7lg" }
VIBECODER_HOST = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3QmR3T3hCYndLVkNYRGQ4VCsyRGV4Q0sxOTY0cFdGMUFudWlkVzFLY0ZNCmpjdjRtRUk0aUIrako3NlVpeVo4WXZxSFM3QllHUkdPeGRleHQxQmxXZlEKLT4gJDklal9uMi1ncmVhc2UgbXN9USA6IG1DJ3w4M3wmClVTRWpDdzFwMzVkZTdJMDhvemFrSUxza1hMUm9zZ1hKYVVUVjZrbzdGZXdNVTdYS05yN011QStzcHRUdmpENi8Kc25ab1dHdVgrWml0d3AvNW40RHFmUEgwUjgxQQotLS0geEV3cGRUdG0yL2ZvQW1UZS8xWVRtQ2hiU3p3T0NFd2Y5dWtFSW5INVJ1bwomSOJCfmSc7t5Ygi4vL9/feNhN3Ou9ZGdGAPv4eIMFKMb2itNr3CgY/2VzQwTsyw" }
WEBDAV_PASSWORD = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNK3N1ek1lNUVDMVlGQ3VjNkJOQm95L2JNSjVFSUF4VTFoZlFjcHFNVDBFCkJvbE1wZmJyODhLVHJOdHBiRXczcTZyZVg2TGZZMnhpRW9TTFd6NUN5UUEKLT4gTWd7RyxfLWdyZWFzZSBaWAoyOXZyVTV6VG0wY2NlWkpBalJNQS9sbEtIMm8waFlJdnJwRXByMVh1UzkyeFRuT2h3ZEViZEFNY0prdjlMUUpWCmlTWU00K3dIdmdNNHk0blpNbldYdmUrdjRDbDBmREpYdnlWaGZRd21pK3ZhbmR0VjFLc2djZ2ZZaTYxR2lxT0IKOEJZCi0tLSBBVEJzQVVFY0VrOGFUeXl1eG5LSENZWEZWS3owWEwxRGl6UDJ0VUxleTdNCrMLrJHZwFgLhEL08McwN4swVFIaEBvlzRjIiqJm0OEjQkdjqsnKY5n1nBgB0I9I3Ycofro" }
SSH_PORT = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvRm5MNDZ4aUNWd3JoNVhvL0ViNU1xR1RneWl3aDhrQUZkVXVmMlM3elNFClpmMlNZNURSSFdYTWtUaVdnc05tVFBqMEJ6cGRyVnZEc0RFZkZNREVqUTQKLT4gN0E5RShsLS1ncmVhc2UgUXAhR3YzRXogfjc8IDlVcG5nRSBCcDJ1YlhKCkNlRGVnUVN2MXNTa1RaYm8wTnJ0THZjY2tiNGtzTC9VYUd0MzFhTQotLS0gNXVCcmNCeWErblV0TVl5Q2ZjOGIzWUZCWVZ2QlFlRlBYbks1YWpRb3l2dwo2K1qBkG2ZZS37OmEyb4FvHg8oH+RKC5vXjPH3JN+hPbwtHJ3b" }
NAMECHEAP_CLIENT_IP = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpTFQrdVJBa01sOHh1Ny81QUM5dlJIM1lQVkxLVTc1K0g4REcwUExvWVFNCnNwRGNoS0FRUDJPSDZhU2czcllhWVhHT0xOaWZ2bXQvWkIrRitpb1lvWW8KLT4gIi1ncmVhc2UgaFI7NiYgQWgKMkxsWGdQOWhjVXExb2szcFViYmc2WmcKLS0tIFVzM2VadTREUE9JWlpPbEpzV0xvRVlQV3dXQVA3OHRBR2M3N3AyeEQwdlkKlkubiz1PwHKn3lphHlqKU58cKKFim2viVBcEyOvcnCD00u15f/8LqDz91dQ" }
CLOUDFLARE_DNS_API_TOKEN = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJN25GZmFnN1B3NXVPcmZrbnBNSVUydGRaMVRsQVVJRUVHcUY4dW00cHpFCm1MNCtBbGg2cE1NbU1jZDFQV1ZDRFM4QjVFMDF3YnFRbWcvTU9iSk9ZKzgKLT4gPHEvKSQpbHQtZ3JlYXNlCmhtb2ttZWFQUzZwWEdXZlJBWHhQdllkNXVGN285UG93Z2Z6ZHZBNUM2c2s3b0srci9EOVRaMWxkcHFnNXJTZ1oKSTV2NDliRzE4Tk9pQjNBSllrOUlZR0gvZDZvekJXVm9KOU0KLS0tIGtvc2FYOVUzM2RzRkxtWEc1QWZHSmJwS3cwZmtUaE1uK2E0bURYMWEwOG8Kqe4W81q6jMb2JN0LARsDyU7+waAsyl/aoIFPmfLkzzjsPYd5VOxvcZbw1VfR0juj8w8lvJY+38fu2pg+IgeGTjDu5OzQKht+" }
YOURLS_COOKIEKEY = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBWVlV4WUM1cUJCSHlFeVE1aTRzd01HS1FRSHVUOC9hVkNGc1dTSW1LNUcwCmNNNUlkcnZFZG9JYXl4TTdoeXROWk1vdS8zdGZneWNEYzVkczRRSWxKTEEKLT4gc25wLWdyZWFzZSBxU01AcHwgLUQjSSpjVFkKT2tjWFl1bFR5L0E5T0loc1E0OHNQQ3BMb3lDa2NIKzU0NW1TV3JINTlRdHc5ZGV1TktUc3VISFZjSSt5Ci0tLSBxYm4xNFV4YzYyaytEbmVHbjArcmNSYW10MUlmbEFCMjVueGRaY2tkTmhvCggAgIm5C18ajDpyb2ayy1vGAmV1YhDvkGNhg5cJEdWIu2zei4Qa9Ag4MPDi+KBQQ98k4s6jF7W6p28wfZK7PYdCIZZ7skK57LBy3wVkLwfHl2w77z47rn45dD+nb9ghtg" }
YOURLS_API_SIGNATURE = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBkOVRISUZjaVNGRllCZnJqeHFsUzMrbmt3VGVMdUIxeDAyU0tTaGlTaUh3Cm93OVN6eEVReWlmZlZPNE9yak5JbDlaWmF5N05TVmM4WTlyVERxMzViaU0KLT4gTi4jS2gkcy1ncmVhc2UgSChoQyB1ClgyMGpVaTV2Nm15UTdHVzJTM3V5Ci0tLSBveld3WkM5a3psQkZyTkV4c3RvZnM4c3E2SnNPcTk5OVEvcDc1U0tEU0VZCqZY999OGuw49svD22n6pH+zkVWxeq+CYO9u20oUMN/88uOUBM8E3NUA2WX2UK9VeHIcwjoqNQuoi85hFwDxhMw" }
YOURLS_DB_PASSWORD = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAyanZpQlZYb3dOYmxBbFBzN0FaUExOWnVrVyt5ck9vM0NiNXhNbGFsbmh3Cmg5cmZjN2ExV1ZtWHljOWwyR2RyK1BxQ2VvYjVEaUljMlp3SGZjNGtXWjAKLT4gW3dLZ2E0LWdyZWFzZSBoRSB6Inxoa2ogLzIsWiByTFslYjYKY0tDN0NsaFVVNFlLWTgxMGJTeEw4NHZVcDRUdUMrVDU4U3g1cm1VCi0tLSB6UlpFWEZtdm1nK3NpWTQ0SHU2d1h0aWk3T3NFcTdOdGpmWTViTXJXbzdFCkqzeHHka9QMtKrwBd5gmfDDiEiF3tXrTWMYyfPVyrgijmechwH18vanCU47wvVTwy2e4uzoUEgioBRlJiYknGD7dmLHF6Dl7Y0NhRA" }
YOURLS_ADMIN_PASSWORD = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzWkJycmdzS3dCcVlzSmNrNlBRQVpPaW4xWThRcVN4V3Z4eEs4bGhOWkVFCjdTcmN5bWlKOSsrUHdKYlFnSGtqdE02NlhsZjgzUSswdmhmRGZ5SGYvTU0KLT4gXXF7Zi1ncmVhc2UgQ0IqCnRkdENtV0dTbnZBRlpoSXR1aGhxdytmRlUwZldsRUUxc0xnNE5LcW42STRiMWwyY0dzVFprWThJTk11amFYaGsKbmNZdWl4WGE1by82N20zTmhrOGEvZXBqZnBENHh3Ci0tLSBEQzNHNUQ2TmU3TmpCVnM4QWNPMHFKaUp1eVU1cWl3dFhZRThtQUdYWklvCgRlYSg0UukRn3+r705l8mTzJScqBiyYfumxIIn1UHlE9HZYwRzekklQd4ZT6yehmE5ILpE41GQ9Q7DSSMHNHvp7XXKRRLCVQz1Z9LM" }
YOURLS_ADMIN_USER = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB0VDJ3dTZrQzBaZldmUFluOHNRd1RHOGF5N1pXYlJDNmNBb21qKzVrVUNjCmFuZlNCbHNRZ3Y1bEFyK2h2MWJ6N2ljd1FFOHhrVkdMcGxJN0hJWWI0WmsKLT4gOlNeIjFyLWdyZWFzZSBkJG5FTjhlCk91WDdQTUxVeUU2dnI1Slpic25jNm9iOU9IMFhrV0xFeEJyVkE1czZUbE04MWlTckRPUEkvN3JWSSt3UHlsckMKSFdZbHFKN2cwUlVoVFcxQ0dJWGF5bS9Rc3RkU3FXTS8yLzRveW5CVjNrQlo0QQotLS0gMEFCM1JMbWxidk5qSy96V3VlTGx0MElNQWpQbDd1aWFnU0ZKSHNUWU9CRQo5XW3XALzfp+5mfcoJnX6IQi+aHyKSVCSl5oag3xuMzHwbVJPCw+0t" }

[vars]
auberge_cli = "cargo run --release"
