[tasks.check]
alias = "c"
description = "Dry run ansible playbook"
dir = "ansible"
run = "ansible-playbook playbook.yml --limit lechuck-cloud --check"

[tasks.fmt]
alias = "f"
description = "Format"
run = "dprint fmt -c .dprint.jsonc"
silent = true

[tasks.lechuck-init]
description = "Run initial playbook"
dir = "ansible"
run = "ansible-playbook playbook.yml --ask-pass --limit lechuck-cloud-init"

[tasks.lechuck]
description = "Run playbook"
dir = "ansible"
run = "ansible-playbook playbook.yml --limit lechuck-cloud --ask-vault-pass"

[tasks.lint]
alias = "l"
dir = "ansible"
run = "ansible-lint"
silent = true

[tasks.ssh]
run = ["rm -fr ~/.ssh", "command ssh root@194.164.53.11"]

[tools]
caddy = "latest"
dprint = "latest"
hk = "latest"
pkl = "latest"
shfmt = "latest"
