- name: Prompt for user configuration
  block:
    - name: Get local username
      ansible.builtin.set_fact:
        user_local_user: "{{ lookup('env', 'USER') }}"
      delegate_to: localhost
      run_once: true

    - name: Prompt for username
      ansible.builtin.pause:
        prompt: "Enter username for the new user (default: {{ user_local_user }})"
      register: user_username_prompt

    - name: Set username variable
      ansible.builtin.set_fact:
        user_name: "{{ user_username_prompt.user_input | default(user_local_user, true) }}"
        user_home: "/home/{{ user_username_prompt.user_input | default(user_local_user, true) }}"

- name: User Creation and Sudo Configuration
  block:
    - name: Create new user and set shell for '{{ user_name }}'
      ansible.builtin.user:
        name: "{{ user_name }}"
        state: present
        shell: /usr/bin/bash

    - name: Add to sudo group new user '{{ user_name }}'
      ansible.builtin.user:
        name: "{{ user_name }}"
        groups: sudo
        append: true

    - name: Configure sudoers (NOPASSWD) for '{{ user_name }}'
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/010_sudo_user
        line: "{{ user_name }} ALL=(ALL) NOPASSWD: ALL"
        create: true
        mode: "0440"
        validate: "/usr/sbin/visudo -cf %s"
