{{ colporteur_domain }} {
	root * {{ colporteur_feeds_dir }}
	file_server

	@xml path *.xml
	header @xml Content-Type application/atom+xml

	encode gzip

	log {
		output file /var/log/caddy/{{ colporteur_domain }}.log
	}
}
