BICHON_ROOT_DIR={{ bichon_root_dir }}
BICHON_INDEX_DIR={{ bichon_index_dir }}
BICHON_DATA_DIR={{ bichon_data_dir }}
BICHON_LOG_LEVEL={{ bichon_log_level }}
BICHON_BIND_IP={{ bichon_bind_ip }}
BICHON_HTTP_PORT={{ bichon_port }}
BICHON_PUBLIC_URL={{ bichon_public_url }}
BICHON_ENCRYPT_PASSWORD_FILE={{ bichon_encrypt_password_file }}
