BICHON_BASE_URL=http://{{ bichon_bind_ip }}:{{ bichon_port }}
BICHON_API_TOKEN={{ bichon_api_token }}
BICHON_ARCHIVE_DIR={{ bichon_archive_dir }}
BICHON_ARCHIVE_STATE_DIR={{ bichon_archive_state_dir }}
BICHON_ARCHIVE_OVERLAP_SECONDS={{ bichon_archive_overlap_seconds }}
BICHON_ARCHIVE_PAGE_SIZE={{ bichon_archive_page_size }}
