BICHON_ROOT_DIR={{ bichon_root_dir }}
BICHON_INDEX_DIR={{ bichon_index_dir }}
BICHON_DATA_DIR={{ bichon_data_dir }}
BICHON_LOG_LEVEL={{ bichon_log_level }}
BICHON_HOST={{ bichon_bind_addr }}
BICHON_PORT={{ bichon_port }}
BICHON_ENCRYPTION_PASSWORD={{ bichon_encryption_password }}
