RESTIC_REPOSITORY={{ immich_restic_repository }}
RESTIC_PASSWORD={{ immich_restic_password }}
AWS_ACCESS_KEY_ID={{ immich_b2_key_id }}
AWS_SECRET_ACCESS_KEY={{ immich_b2_application_key }}
IMMICH_DB_CONTAINER={{ immich_backup_db_container }}
IMMICH_DB_DUMP_DIR={{ immich_backup_db_dump_dir }}
IMMICH_UPLOAD_DIR={{ immich_upload_dir }}
