BAIKAL_BUSY_ICLOUD_USERNAME={{ baikal_busy_icloud_username | default('') }}
BAIKAL_BUSY_ICLOUD_APP_PASSWORD={{ baikal_busy_icloud_app_password | default('') }}
BAIKAL_BUSY_ICLOUD_CALENDAR={{ baikal_busy_icloud_calendar | default('') }}
