[Unit]
Description=Baikal birthday calendar sync service
After=php{{ baikal_php_version }}-fpm.service

[Service]
Type=oneshot
User={{ baikal_sys_user }}
Group={{ baikal_sys_user }}
WorkingDirectory={{ baikal_install_dir }}
ExecStart=/usr/bin/python3 {{ baikal_install_dir }}/baikal-birthday-sync.py
StandardOutput=journal
StandardError=journal
