---
- name: Core Infrastructure - Layer 2
  hosts: vps
  become: true
  roles:
    - role: apt
      tags: [infrastructure, packages, apt]
    - role: bash
      vars:
        user_name: "{{ admin_user_name }}"
        user_home: "/home/{{ admin_user_name }}"
      tags: [infrastructure, shell, bash]
    - role: caddy
      tags: [infrastructure, web, proxy, caddy]

  handlers:
    - name: Reload systemd
      ansible.builtin.systemd_service:
        daemon_reload: true
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
