- name: Initial server setup
  hosts: vps
  gather_facts: true
  become: true

  roles:
    - role: apt
      tags: [apt]
    - role: user
      tags: [user]
    - role: ssh
      tags: [ssh]
    - role: bash
      tags: [bash]
    - role: ufw
      tags: [ufw]
    - role: caddy
      tags: [caddy]
    - role: radicale
      tags: [radicale]
    - role: webdav
      tags: [webdav]
    - role: calibre
      tags: [calibre]
    - role: blocky
      tags: [blocky]

  handlers:
    - name: Reload systemd
      ansible.builtin.systemd_service:
        daemon_reload: true
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
