- name: Bash Configuration for {{ new_user }}
  block:
    - name: Deploy .bash_aliases for {{ new_user }}
      ansible.builtin.template:
        src: templates/bash_aliases
        dest: "{{ new_user_home }}/.bash_aliases"
        owner: "{{ new_user }}"
        group: "{{ new_user }}"
        mode: "0644"

    - name: Add XDG environment variables to .profile for {{ new_user }}
      ansible.builtin.blockinfile:
        path: "{{ new_user_home }}/.profile"
        block: |
          export XDG_CONFIG_HOME="$HOME/.config"
          export XDG_DATA_HOME="$HOME/.local/share"
          export XDG_CACHE_HOME="$HOME/.cache"
          export EDITOR="nvim"
        create: true
        owner: "{{ new_user }}"
        group: "{{ new_user }}"
        mode: "0644"
