- name: UFW Firewall Configuration
  block:
    - name: Ensure UFW is installed
      ansible.builtin.apt:
        name: ufw
        state: present

    - name: Set UFW default incoming policy to deny
      community.general.ufw:
        direction: incoming
        policy: deny

    - name: Set UFW default outgoing policy to allow
      community.general.ufw:
        direction: outgoing
        policy: allow

    - name: Allow SSH on new port {{ ssh_port }}
      community.general.ufw:
        rule: allow
        port: "{{ ssh_port }}"
        proto: tcp

    - name: Allow incoming HTTP connections (port 80)
      community.general.ufw:
        rule: allow
        port: 80
        proto: tcp
        state: enabled

    - name: Allow incoming HTTPS connections (port 443)
      community.general.ufw:
        rule: allow
        port: 443
        proto: tcp
        state: enabled

    - name: Enable UFW
      community.general.ufw:
        state: enabled
