- name: Install and Configure Radicale
  block:
    - name: Install Radicale and dependencies via apt
      ansible.builtin.apt:
        name: [radicale, apache2-utils]
        state: present
        update_cache: true

    - name: Create radicale system user
      ansible.builtin.user:
        name: "{{ radicale_sys_user }}"
        state: present
        system: true
        home: /
        shell: /usr/sbin/nologin
        create_home: true

    - name: Create Radicale config directory
      ansible.builtin.file:
        path: "{{ radicale_config_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Create Radicale data directory
      ansible.builtin.file:
        path: "{{ radicale_data_dir }}"
        state: directory
        owner: "{{ radicale_sys_user }}"
        group: "{{ radicale_sys_user }}"
        mode: "0700"

    - name: Add Radicale admin user to htpasswd file
      no_log: true
      community.general.htpasswd:
        hash_scheme: "bcrypt"
        name: "{{ new_user }}"
        password: "{{ radicale_password }}"
        path: "{{ radicale_users_file }}"
        owner: root
        group: "{{ radicale_sys_user }}"
        mode: "0640"
        state: present

    - name: Deploy Radicale configuration file
      ansible.builtin.template:
        src: templates/radicale/config.j2
        dest: "{{ radicale_config_dir }}/config"
        owner: root
        group: root
        mode: "0644"

    - name: Deploy Radicale systemd service file
      ansible.builtin.template:
        src: templates/radicale/radicale.service.j2
        dest: /etc/systemd/system/radicale.service
        owner: root
        group: root
        mode: "0644"

    - name: Copy Radicale Caddyfile to sites directory
      ansible.builtin.template:
        src: templates/radicale/radicale.sripwoud.xyz.caddyfile.j2
        dest: /etc/caddy/sites/radicale.sripwoud.xyz.caddyfile
        owner: root
        group: root
        mode: "0644"
      notify: Restart caddy

    - name: Enable and start Radicale service
      ansible.builtin.systemd_service:
        name: radicale
        enabled: true
        state: started
        daemon_reload: true
