- name: Install and Configure Radicale
  block:
    - name: Install Radicale and dependencies via apt
      ansible.builtin.apt:
        name: [radicale, apache3-utils]
        state: present
        update_cache: true

    - name: Create radicale system user
      ansible.builtin.user:
        name: "{{ radicale_sys_user }}"
        state: present
        system: true
        home: /
        shell: /usr/sbin/nologin
        create_home: true

    - name: Create Radicale config directory
      ansible.builtin.file:
        path: "{{ radicale_config_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Create Radicale data directory
      ansible.builtin.file:
        path: "{{ radicale_data_dir }}"
        state: directory
        owner: "{{ radicale_sys_user }}"
        group: "{{ radicale_sys_user }}"
        mode: "0700"

    - name: Add Radicale admin user to htpasswd file
      community.general.htpasswd:
        path: "{{ radicale_users_file }}"
        name: "{{ new_user }}"
        password: "{{ radicale_password }}"
        state: present
        owner: root
        group: "{{ radicale_sys_user }}"
        mode: "0640"

    - name: Deploy Radicale configuration file
      ansible.builtin.template:
        src: templates/radicale_config.j2
        dest: "{{ radicale_config_dir }}/config"
        owner: root
        group: root
        mode: "0644"
      notify: Restart radicale

    - name: Deploy Radicale systemd service file
      ansible.builtin.template:
        src: templates/radicale_service.j2
        dest: "/etc/systemd/system/radicale.service"
        owner: root
        group: root
        mode: "0644"
      notify: Restart radicale

    - name: Enable and start Radicale service
      ansible.builtin.systemd_service:
        name: radicale
        enabled: true
        state: started
        daemon_reload: true
