{{ webdav_domain }} {
	root * /var/www/webdav-files

	@get method GET
	route {
		basic_auth / {
			{{ vault_admin_user_name }} {{ webdav_hashed_password }}
		}
		file_server @get browse
		webdav
	}
}

