GRIMMORY_PORT={{ grimmory_port }}
DATABASE_HOST={{ grimmory_db_host }}
DATABASE_NAME={{ grimmory_db_name }}
DATABASE_USERNAME={{ grimmory_db_user }}
DATABASE_PASSWORD={{ grimmory_db_password }}
DISK_TYPE=LOCAL
APP_PATH_CONFIG={{ grimmory_data_path }}
APP_BOOKDROP_FOLDER={{ grimmory_bookdrop_path }}
