[tasks.fmt]
alias = "f"
description = "Format"
run = "dprint fmt -c .dprint.jsonc"
silent = true

[tasks.lint]
alias = "l"
run = "ansible-lint"
silent = true

[tasks.ssh]
run = ["rm -fr ~/.ssh", "command ssh root@194.164.53.11"]

[tools]
caddy = "latest"
"cargo:convco" = "latest"
dasel = "latest"
dprint = "latest"
hk = "latest"
pipx = "latest"
pkl = "latest"
shfmt = "latest"
ansible = "latest"
"pipx:ansible-dev-tools" = "latest"
"pipx:ansible-lint" = "latest"
rust = "latest"
