[tasks.fmt]
alias = "f"
description = "Format"
run = "dprint fmt -c .dprint.jsonc"
silent = true

[tasks.lint]
alias = "l"
run = "ansible-lint"
dir = "ansible"
quiet = true

[tools]
caddy = "latest"
"cargo:convco" = "latest"
dasel = "latest"
dprint = "latest"
hk = "latest"
pipx = "latest"
pkl = "latest"
ansible = "latest"
"pipx:ansible-dev-tools" = "latest"
"pipx:ansible-lint" = "latest"
rust = "latest"

[env]
# TODO
#TELEGRAM_BOT_TOKEN = { age = "TOKEN_HERE"}
#TELEGRAM_CHAT_ID = { age = "CHAT_ID_HERE"}
NAMECHEAP_API_KEY = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOQUtkQmVlTWxEWnREQmNGR1p1VkZNeEpra0Z5eU1mK08wbVpVcUhPaTBNClJ5R0dTeUtwT0Mrd200SlA3UEFIVzJQOE5zeTVjaEZXMG5TVUVBRXlhUTAKLT4gYCdxWCstZ3JlYXNlCi9VaW9DRWhHTzB3dWNzbFh5SkNzQnI1YmdYNm1FQzBOY2RXTGNqR0I2UkxhZ28wRXJOVTBCdUI0V0NyZ3JENTkKc3loL0tKZ0JxZkVxb2ZaUHRMM2Q5YmU2M1RNdFg3T0FKVzdvV3krV0xFWQotLS0gRERXU0EycThuditoL0xMdzJUaisza3ZWWVNDbHMxMkFyV1ZzeXF6aE9QUQrMAZl/TH6R7WdIV0rBC6pZfcq8n7gql/5Q3dW6neUBK3+e5OYAYIf5bSfAA3/F/BduqBGgi5W7JobO4rnxTQpX" }
RADICALE_PASSWORD = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBHaGhuckp4YVBWNk14cjcvZkJCY1pkbUJOZGp5VHZNeHNXUlpjSjNHWGxVCkM5SmFDaGlzZFZtZ2pidEx1SWxlbnpYODFXdnl1TkIyejA5eEk1cFF4aGcKLT4gJyYsei1ncmVhc2UgVlc4IGsgO35VcyUgcC8Kd0ptZSt4NnNXMUJFNmpCdTVwT2RWYVh6OEU2Ui9mSWM4SHpGNGJxYVc4OU9FVkI3Rm1FeUZJOEt6UG96QU9Lbgp2a1E4eWxZdEQrSm4yOGhNNUMrZW9wSXYvQ2JGVjE1bjNsYitCaHN3WGpsNQotLS0gU0lxSW9nNmRUSC9hNHhUK01hbS9oczF5bnpleXdOZ1pPZ0xKL1ZrSCtrTQrKymV5a7TRO8iMVZpGGvALPywGZqAI7TllXJBvU7Y2IKDsHt+aeR5VTEBwZcNilhg8A9wMpTFsNnA" }
SELFHOST_HOST = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzVWp3Nk5WT0h0WUJYWEJCM2ZTMEI0VVA4b2NheEREbWoxR0lnQXA5MERRCnYxMTQ3V1hDKy9oWkJ5bXVsZ28rRnpwbzR4cFY0OHR6OUNGNHVjdWc5MUUKLT4gcEVTMS1ncmVhc2UgRU5yIDJDaVxsUFIzICI9dFxrCitoR2dSQmRTbFpTbFU2REMwODVjT250dkF1akcyMTBLYVVhUVVOU3g0ZUlLem50WFhKOHgxOFZyWnA1ekFHL2MKTDV0S0Z6SzA2dTFPY20vUHBPTUhhWk44V2FRZURJR0lvdXdsYnAyQzgwQWVaSExOCi0tLSB5UzdRNHlsWnVNbmpCMjN6enNkU3l1aWsxd1dlbHBiL2ExcEJnTitFa0FzCnRi7curdGj6DfQ2gqVvJICuqT8I1vifxzlPYH2a4Cc44M4Scsd50B4ZPX5KhVQ" }
SELFHOST_OLD_HOST = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4SHExNWN5dUtoNk4wMkRQSStnS2FOQnJhWml3d3dkNnRZUlB1TWtMZ3dRCjc4TmVDbHZBMk9XR0JyYUl6aU5LL2owaHdNd3JlaG93MldKN2tBdEQ4VU0KLT4gUiN+XF06Ky1ncmVhc2UgYQpLWDNIV2dpc2RyOHkvQ3hhdGRlT2hjeWhoZFhTSnBNOHJCOE52M1dkCi0tLSBDQ3Fhb1VFNGRUbFk5UnpIVkN1THdTbWN2WUdEdFQ2VHYyS1JONXBZSTZvCoQwtHxjqsH1jQ6fs1IL3hjwI4aAf/hQ+HZ0Pns1sV7KVKbzC/ttNT1yDzr9SA" }
TAILSCALE_AUTHKEY = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRQi9Bakc1dFltY0FRVE14SExRQU1Qai9EdVFnYmpVOUdpSDQ5aUk1bkNJCjBtaWRreUltLy9sM2dQcDdGWHgyS3UyU1M4S3ZaZkszSERjdkNZMnhsdUUKLT4gRFZsLGglPD4tZ3JlYXNlICE6VXNFPDJzIEwKeHdaWmpZbmtlYngzcE9nVEFyeFRuL3dVT2RYWmF0WXgyMGJQdk9CTFNsTWhQcjRoRzd1UG5RbCsrOG1ZOVdmUgp0cXdxRStxSWdPcjRPeitsNlVCNXNFdWlHZTIwLzZ4cE9VK2cKLS0tIDhrNlNQVnFhMytUdXBQb3Bqam9VRW5FOGtycjI4M1E0SFRJeS9ROFB3dm8KzJTTml+WkvI3IEK6JdZJFnL0C0RIxnVIoj4p3OwKqDfhwSIvGmikUi6r0sWSaRQfrjC5JlNhT2ANhDeVR9jMZwkUAYiGj+ZdNqWim6uA5fq3atvc6i3wALi2Vhd7lg" }
VIBECODER_HOST = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3QmR3T3hCYndLVkNYRGQ4VCsyRGV4Q0sxOTY0cFdGMUFudWlkVzFLY0ZNCmpjdjRtRUk0aUIrako3NlVpeVo4WXZxSFM3QllHUkdPeGRleHQxQmxXZlEKLT4gJDklal9uMi1ncmVhc2UgbXN9USA6IG1DJ3w4M3wmClVTRWpDdzFwMzVkZTdJMDhvemFrSUxza1hMUm9zZ1hKYVVUVjZrbzdGZXdNVTdYS05yN011QStzcHRUdmpENi8Kc25ab1dHdVgrWml0d3AvNW40RHFmUEgwUjgxQQotLS0geEV3cGRUdG0yL2ZvQW1UZS8xWVRtQ2hiU3p3T0NFd2Y5dWtFSW5INVJ1bwomSOJCfmSc7t5Ygi4vL9/feNhN3Ou9ZGdGAPv4eIMFKMb2itNr3CgY/2VzQwTsyw" }
WEBDAV_PASSWORD = { age = "YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNK3N1ek1lNUVDMVlGQ3VjNkJOQm95L2JNSjVFSUF4VTFoZlFjcHFNVDBFCkJvbE1wZmJyODhLVHJOdHBiRXczcTZyZVg2TGZZMnhpRW9TTFd6NUN5UUEKLT4gTWd7RyxfLWdyZWFzZSBaWAoyOXZyVTV6VG0wY2NlWkpBalJNQS9sbEtIMm8waFlJdnJwRXByMVh1UzkyeFRuT2h3ZEViZEFNY0prdjlMUUpWCmlTWU00K3dIdmdNNHk0blpNbldYdmUrdjRDbDBmREpYdnlWaGZRd21pK3ZhbmR0VjFLc2djZ2ZZaTYxR2lxT0IKOEJZCi0tLSBBVEJzQVVFY0VrOGFUeXl1eG5LSENZWEZWS3owWEwxRGl6UDJ0VUxleTdNCrMLrJHZwFgLhEL08McwN4swVFIaEBvlzRjIiqJm0OEjQkdjqsnKY5n1nBgB0I9I3Ycofro" }
