- name: System Update and Upgrade
  block:
    - name: Add Debian Testing repository (for specific packages like dasel and golang-1.24)
      when: ansible_distribution == "Debian"
      ansible.builtin.apt_repository:
        repo: "deb http://deb.debian.org/debian/ testing main contrib non-free"
        state: present
        filename: "debian-testing"
    - name: Configure APT pinning for dasel (prefer testing over stable)
      when: ansible_distribution == "Debian"
      ansible.builtin.copy:
        content: |
          Package: *
          Pin: release a=stable
          Pin-Priority: 900

          Package: dasel
          Pin: release a=testing
          Pin-Priority: 990

          Package: *
          Pin: release a=testing
          Pin-Priority: 50
        dest: /etc/apt/preferences.d/dasel_pinning.pref
        owner: root
        group: root
        mode: "0644"
    - name: Set up APT pinning for golang-1.24
      ansible.builtin.copy:
        content: |
          Package: golang-1.24
          Pin: release n=trixie
          Pin-Priority: 900

          Package: *
          Pin: release n=trixie
          Pin-Priority: -1
        dest: /etc/apt/preferences.d/golang-1.24.pref
        owner: root
        group: root
        mode: "0644"
    - name: Update apt package cache
      ansible.builtin.apt:
        update_cache: true
    - name: Upgrade dist
      ansible.builtin.apt:
        upgrade: dist
    - name: Install packages
      ansible.builtin.apt:
        pkg: [
          acl,
          curl,
          dasel,
          dnsutils,
          git,
          golang-1.24,
          gnupg,
          lsof,
          neovim,
          rsync,
          wget,
        ]
    - name: Create symlink for 'go' binary in /usr/local/bin
      ansible.builtin.file:
        src: /usr/lib/go-1.24/bin/go
        dest: /usr/local/bin/go
        state: link
        force: true
        owner: root
        group: root
