{{ radio_domain }} {
	basic_auth {
		{{ admin_user_name }} {{ radio_hashed_password }}
	}

	@internal path /admin/* /status.xsl /server-version.xsl /status-json.xsl
	respond @internal 404

	reverse_proxy 127.0.0.1:{{ radio_icecast_port }} {
		flush_interval -1
	}

	log {
		output file /var/log/caddy/{{ radio_domain }}.log
	}
}
