[Unit]
Description=Navidrome Music Server
After=network.target
Requires=network.target

[Service]
Type=simple
User={{ navidrome_sys_user }}
Group={{ navidrome_sys_group }}
WorkingDirectory={{ navidrome_install_path }}
ExecStart={{ navidrome_install_path }}/navidrome --configfile {{ navidrome_data_dir }}/navidrome.toml
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectSystem=strict
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ReadWritePaths={{ navidrome_data_dir }} {{ navidrome_music_folder }}
UMask=0027

[Install]
WantedBy=multi-user.target
