[general]
status_path = "{{ vdirsyncer_status_dir }}"

[pair icloud_to_baikal]
a = "icloud"
b = "baikal"
collections = [["{{ vdirsyncer_baikal_calendar_name }}", "{{ vdirsyncer_icloud_calendar_id }}", "{{ vdirsyncer_baikal_calendar_name }}"]]
conflict_resolution = "a wins"

[storage icloud]
type = "caldav"
url = "{{ vdirsyncer_icloud_url }}"
username = "{{ vdirsyncer_icloud_username }}"
password = "{{ vdirsyncer_icloud_password }}"

[storage baikal]
type = "caldav"
url = "{{ vdirsyncer_baikal_calendar_url }}"
username = "{{ admin_user_name }}"
password = "{{ baikal_admin_password }}"
auth = "digest"
