- name: Restart php-fpm
  ansible.builtin.systemd_service:
    name: php{{ baikal_php_version }}-fpm
    state: restarted

- name: Restart caddy
  ansible.builtin.systemd_service:
    name: caddy
    state: restarted
